---
import "../styles/global.css";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

const pageTitle = "About Me";

const identity = {
  firstName: "Aleksey",
  country: "Russia",
  occupation: "Frontend Dev",
  hobbies: ["photography", "black coffee", "coding"],
};

const skills = ["HTML", "CSS", "JavaScript", "Astro", "VueJS"];

const happy = true;
const finished = false;
const goal = 3;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <title>{pageTitle}</title>
  </head>
  <body>
    <header>
      <Header />
    </header>
    <main class="container">
      <h1
        class="bg-gradient-to-br from-sky-100 via-sky-300 to-sky-600 bg-clip-text text-center text-8xl font-black text-transparent"
      >
        {pageTitle}
      </h1>
      <h2
        class="mb-8 bg-gradient-to-br from-sky-600 via-sky-300 to-sky-100 bg-clip-text text-center text-4xl text-transparent"
      >
        ... and my new Astro site!
      </h2>
      <div class="space-y-8">
        <p class="text-lg">
          I am working through Astro's introductory tutorial. This is the second
          page on my website, and it's the first one I built myself!
        </p>
        <p class="text-lg">
          This site will update as I complete more of the tutorial, so keep
          checking back and see how my journey is going!
        </p>
        <div>
          <p class="text-lg">Here are a few facts about me:</p>
          <ul class="list-inside list-disc">
            <li>My name is {identity.firstName}.</li>
            <li>
              I live in {identity.country} and I work as a {
                identity.occupation
              }.
            </li>
            {
              identity.hobbies.length >= 2 && (
                <li>
                  Two of my hobbies are: {identity.hobbies[0]} and{" "}
                  {identity.hobbies[1]}.
                </li>
              )
            }
          </ul>
        </div>
        <div>
          <p class="text-lg">My skills are:</p>
          <ul class="list-inside list-disc">
            {
              skills.map((skill) => (
                <li class="font-semibold text-green-400">{skill}</li>
              ))
            }
          </ul>
        </div>
        <div>
          {happy && <p class="text-lg">I am happy to be learning Astro!</p>}

          {finished && <p class="text-lg">I finished this tutorial!</p>}

          {
            goal === 3 ? (
              <p class="text-lg">My goal is to finish in 3 days.</p>
            ) : (
              <p class="text-lg">My goal is not 3 days.</p>
            )
          }
        </div>
      </div>
    </main>
    <Footer />
    <script>
      import "../scripts/menu.js";
    </script>
  </body>
</html>
