---
import BaseLayout from "./BaseLayout.astro";
const { frontmatter } = Astro.props;
---

<BaseLayout pageTitle={frontmatter.title}>
  <h2>{frontmatter.description}</h2>
  <div class="mb-4 flex place-content-center gap-4">
    {
      frontmatter.tags.map((tag: string) => (
        <a href=`/tags/${tag}` class="tag">
          {tag}
        </a>
      ))
    }
  </div>
  <slot />
  <div class="space-y-0 pt-8 text-right text-sm">
    <p>Written by {frontmatter.author}</p>
    <p>Published on: {frontmatter.pubDate.toString().slice(0, 10)}</p>
  </div>
  <a class="mt-8 block place-self-center px-4 ring-2" href="/blog"
    >&larr; Back</a
  >
</BaseLayout>
